.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #09d3ac;
}

.fb-video {
  /* z-index: 0; */
  /* text-align: center; */
  /* margin: 0 auto; */
  /* left: 50%; */
}

.fb-div {
  margin: 0 auto;
  text-align: center;
}
